$color__background-body: #685890;
$color__background-nav: #826EB4;
$color__background-col: #E9E5F2;
$color__background-card: white;

$color__background-new-col: #4E426C;
$color__background-new-card: #826EB4;

$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #464646;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-button: #4E426C;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__background-button: #CDC4E2;
$color__border-button: none;
$color__border-input: none;
