.task-form {
	position: relative;
	@extend %rounded;
	box-shadow: 0 2px 0 rgba( black, 0.15 );

	.cancel {
		position: absolute;
		top: $size__spacing;
		right: $size__spacing;
		@include font-size( 2.0 );
		line-height: 1;
		font-weight: bold;
		text-decoration: none;
	}

	h4 {
		margin: 0 0 $size__spacing;
	}
}

.task-name,
.task-tags {
	margin-bottom: $size__spacing;

	label {
		display: block;
		margin-bottom: $size__spacing/2;
		@include font-size( 1.8 );
		line-height: 1;
	}
}

.task-tags {
	margin-bottom: $size__spacing * 1.5;
}

.task-submit {}
