.task {
	@extend %rounded;
	overflow: hidden;
	margin-bottom: $size__spacing;
	box-shadow: 0 2px 0 rgba( black, 0.15 );

	.task-title {
		clear: none;
		margin: 0;
	}

	.tag {
		@extend %rounded;
		padding: 0;
		display: inline-block;
		overflow: hidden;
		float: right;
		margin-top: 7px;
		margin-left: 5px;
		height: 14px;
		width: 14px;
		text-indent: -999em;
	}
}

/* These always stay the same, regardless of theme color */
.task .tag {
	background-color: greenyellow; // Ugly green!

	&.theme {
		background-color: #d31414;
	}

	&.plugin {
		background-color: #d38814;
	}

	&.community-project {
		background-color: #148ed3;
	}

	&.learning {
		background-color: #47d314;
	}

	&.offline {
		background-color: #14d3a9;
	}

	&.core {
		background-color: #d314a6;
	}
}
