input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	width: 100%;
	border: 2px solid;
	border-radius: 3px;
	@include font-size( 1.4 );
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px 8px;
	line-height: 2;
}

textarea {
	padding-left: 3px;
	width: 100%;
}