.site-header {
	background-color: $color__background-nav;

	a {
		color: $color__text-nav-button;
		background-color: $color__background-nav-button;

		&.current {
			color: $color__background-nav-button;
			background-color: $color__text-nav-button;
		}
	}
}