
.status-header {
	overflow: hidden;
	margin-bottom: $size__spacing;

	.status-title {
		margin: 0;
		float: left;
	}
}

.list {
	flex: 1;
	@extend %rounded;
	margin-right: $size__spacing;
	min-width: 340px;
}


.add-task {
	margin-top: $size__spacing;
	width: 100%;
	box-shadow: 0 2px 0 rgba( black, 0.6 );
	text-align: center;
}