.project-columns {
	padding: $size__spacing;
	display: flex;

	.column,
	.card {
		padding: $size__spacing;
		border-radius: $size__border-radius;
	}

	.column {
		flex: 1;
		margin-right: $size__spacing;
		min-width: 340px;
	}
}

.status-header {
	overflow: hidden;
	margin-bottom: $size__spacing;

	.status-title {
		margin: 0;
		float: left;
	}

	.card-add {
		float: right;
	}
}

.card {
	margin-bottom: $size__spacing;
	box-shadow: 0 2px 0 rgba( black, 0.15 );

	.task-title {
		margin-top: 0;
	}
}